html {
    position: relative;
    min-height: 100%;
}

body {
    color: #444;
    /* Margin bottom by footer height */
    margin: 0 0 40px 0;
    background-image: url(background.jpg);
    background-size: 100% 98%;
}

#header {
    margin-bottom: 1em;
    padding: 1em 0.5em;
    color: #888;
    background-color: #fff;
    text-align: center;
}

#header h1 {
    padding: 0;
    margin: 0;
    border-right: 100px;
    font-family: Verdana, sans-serif;
    font-size: xx-large;
    border-bottom: 5px solid #c5917f;
    width: 220px;
}

#header h1 .subtitle {
    font-size: x-large;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    /* Set the fixed height of the footer here */
    height: 30px;
}

#footer p {
    padding: 0;
    margin: 9px 0 0 0;
    font-size: 12px;
}

#content {
    width: 66%;
    margin: 0 auto;
}

#search {
    float: left;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    float: right;
    line-height: 22px;
}

.search input {
    position: absolute;
    width: 0px;
    float: Left;
    margin-left: 200px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 30px;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius:1px;
}

.search:hover input, .search input:focus {
    width: 230px;
    margin-left: 0px;
}

.btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
    background-color: #c5917f;
    color: #fff;
}

.form{
    background-color: rgba(251, 252, 252, 0.85);
    padding-top: 20px;
    border-radius: 15px;
    padding-bottom: 20px;
}

.p{
    background-color: rgba(251, 252, 252, 0.85);
    border-radius: 15px;
    position: center;
}
